CONFIG_ARM=y
CONFIG_POSITION_INDEPENDENT=y
CONFIG_ARCH_AIROHA=y
CONFIG_TARGET_AN7581=y
CONFIG_TEXT_BASE=0x81e00000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_NR_DRAM_BANKS=2
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="an7581-h3c-hm2004-du"
CONFIG_SYS_LOAD_ADDR=0x81800000
CONFIG_BUILD_TARGET="u-boot.bin"
CONFIG_AIROHA_BUILD_MODERN=y
CONFIG_AIROHA_WEB_FAILSAFE=y
CONFIG_AIROHA_FAILSAFE_VALIDATE=y
# CONFIG_EFI_LOADER is not set
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_BOOTDELAY=3
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_MENU_SHOW=y
CONFIG_DEFAULT_FDT_FILE="an7581-h3c-hm2004-du.dtb"
CONFIG_SYS_PBSIZE=1049
CONFIG_LOGLEVEL=9
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_LOG=y
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="AN7581> "
CONFIG_SYS_MAXARGS=8
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_ASKENV=y
CONFIG_CMD_ERASEENV=y
CONFIG_CMD_ENV_FLAGS=y
CONFIG_CMD_STRINGS=y
CONFIG_CMD_DM=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_MTD=y
CONFIG_CMD_MTD_MARKBAD=y
CONFIG_CMD_MTD_NAND_WRITE_TEST=y
CONFIG_CMD_MTD_NAND_READ_TEST=y
CONFIG_CMD_PART=y
CONFIG_CMD_AIROHA_THERMAL=y
CONFIG_CMD_RARP=y
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_TFTPSRV=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_TIME=y
CONFIG_CMD_UUID=y
CONFIG_CMD_HASH=y
CONFIG_CMD_SMC=y
CONFIG_CMD_BTNCHK=y
CONFIG_CMD_UBI=y
CONFIG_CMD_UBI_RENAME=y
CONFIG_ENV_OVERWRITE=y
# CONFIG_ENV_IS_IN_MTD is not set
CONFIG_ENV_IS_IN_UBI=y
CONFIG_ENV_REDUNDANT=y
CONFIG_ENV_UBI_PART="ubi"
CONFIG_ENV_UBI_VOLUME="ubootenv"
CONFIG_ENV_UBI_VOLUME_REDUND="ubootenv2"
CONFIG_ENV_UBI_VOLUME_CREATE=y
# HM2004-DU keeps every board-specific blob in a single 1 MiB "factory"
# UBI volume, see defenvs/an7581_h3c_hm2004-du_env.
CONFIG_ENV_UBI_EXTRA_VOLUMES="0x100000(factory)"
CONFIG_ENV_RELOC_GD_ENV_ADDR=y
CONFIG_ENV_USE_DEFAULT_ENV_TEXT_FILE=y
CONFIG_ENV_DEFAULT_ENV_TEXT_FILE="defenvs/an7581_h3c_hm2004-du_env"
CONFIG_ENV_VARS_UBOOT_RUNTIME_CONFIG=y
CONFIG_VERSION_VARIABLE=y
CONFIG_NETCONSOLE=y
CONFIG_USE_IPADDR=y
CONFIG_IPADDR="192.168.1.1"
CONFIG_USE_SERVERIP=y
CONFIG_SERVERIP="192.168.1.254"
CONFIG_MTK_TELNETD=y
CONFIG_MTK_DNSD=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_SYS_RX_ETH_BUFFER=32
CONFIG_BUTTON=y
CONFIG_BUTTON_GPIO=y
CONFIG_CLK=y
CONFIG_DMA=y
CONFIG_GPIO_HOG=y
CONFIG_LED=y
CONFIG_LED_BLINK=y
CONFIG_LED_SW_BLINK=y
CONFIG_LED_GPIO=y
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_UBI_BLOCK=y
CONFIG_DM_MDIO=y
CONFIG_PCS_AIROHA_AN7581=y
CONFIG_AIROHA_ETH=y
CONFIG_PHY_ANEG_TIMEOUT=10000
CONFIG_PHY_ETHERNET_ID=y
CONFIG_PHY=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_AIROHA_AN7581=y
CONFIG_POWER_DOMAIN=y
CONFIG_DM_REGULATOR=y
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_RAM=y
CONFIG_DM_SERIAL=y
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_AIROHA_SNFI_SPI=y
CONFIG_DM_THERMAL=y
CONFIG_AIROHA_THERMAL=y
# CONFIG_UBIFS_SILENCE_MSG is not set
CONFIG_SHA512=y
# CONFIG_VPL_LZMA is not set
CONFIG_WEBUI_FAILSAFE_LAYOUT_FIP=y
CONFIG_WEBUI_FAILSAFE_I18N_ZH_CN=y
CONFIG_WEBUI_FAILSAFE_COMPRESS_NONE=y
CONFIG_WEBUI_FAILSAFE_ADVANCED=y
CONFIG_WEBUI_FAILSAFE_SIMG=y
CONFIG_WEBUI_FAILSAFE_FLASH=y
CONFIG_WEBUI_FAILSAFE_FLASH_LAYOUT=y
